<h1>anitact/home</h1>
<div>
    <form action="/posts/create" method="POST">
        <h1>Posts</h1>
        <textarea placeholder="type here" name="content" required></textarea>
        <button>SUBMIT</button>
    </form>
</div>