<div>
    <h1><i class="fa-solid fa-user fa-xs"></i> PROFILE</h1>
    <link rel="stylesheet" href="/css/profile.css" />
    <table>
        <tr>
            
                <h2><td>email:</td><td><%=user.email%></td>
                </h2>
        </tr>
        <tr>

            <h2>
                <td>name:</td>
                <td>
                    <%=user.name%>
                </td>
            </h2>
        </tr>

    </table>
</div>