<link href="/css/form.css" rel="stylesheet" type="text/css" />


<form action="/reset-password/reset-password-link" method="POST">
    <h1>Enter Your Mail</h1>
    <input type="email" placeholder="Enter Email" name="email" required />
 
    <button>send reset link</button>
</form>