<h1>sign in page</h1>


<form action="/users/create-session" method="POST">
<input type="email" placeholder="Enter Email" name="email" required/>
<input type="password" placeholder="Enter Password" name="password" required/>
<button>sign in</button>
</form>