<link href="/css/form.css" rel="stylesheet" type="text/css" />

<form action="./create-session" method="POST">
    <h1>sign in page</h1>
    <input type="email" placeholder="Enter Email" name="email" required />
    <input type="password" placeholder="Enter Password" name="password" required />
    <button>sign in</button>
    <div class="social-auth">
        <p>Sign in/ sign up with</p>
        <a href="/users/auth/google" class="social-links">
            <img src="/images/google.png"/> Google
        </a>
    </div>
    <a href="/reset-password/reset-password-link">forgot password</a>
</form>