<div>
    <link href="/css/form.css" rel="stylesheet"/>
    <form method="post" action="/users/update" enctype="multipart/form-data">
        <h1>Update Form</h1>
        <input name="email" value="<%=user.email%>" required placeholder="enter tour email" type="email" />
        <input name="name" value="<%=user.name%>" required placeholder="enter your name"/>
        <input name="password" required  placeholder="enter your password"/>
        <input type="file" name="avatar" placeholder="upload file" required/>
        <button>update</button>
    </form>
</div>