<%if(post.comments){%>
    <ul id="<%= post._id %>comments">
        <% for(comment of post.comments) {%>
            <li class="comment">
                <% if(locals.user && (locals.user.id==post.user.id || comment.user.id==user.id)) {%>
                <a href="/comments/destroy/<%=comment.id %>">X</a>
                <%}%>
                comment:<%=comment.content %>
                    user:<%=comment.user.name%>
            </li>
            <%}%>
    </ul>
    <%}%>