<div>
    <h1>This is your welcome mail</h1>
    <p>hey weeb!! it seems you have created your accout in anitact using google account.</p>
    <h2>
        These are your credentials never share with others.
    </h2>    
    <div>
        
       <p>username:<%=locals.name%></p>
        <p>email:<%=locals.email%></p>
        <p>password:<%=locals.password%></p>
        
    </div>
    <p>you can change password using forget password page or you can click the link in profile page or in sign in page.</p>
    <p>Thankyou!</p>
</div>